.main {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
}

.userInput {
   margin: 20px 110px 20px 110px
}

.userInfoBadge {
    font-size: 0.9rem;
}

.userInfo {
    margin: 0 auto;
    color: white;
}

.userInfoText {
    display: flex;
    margin: 0 auto;
}

.dashBoardRow {
    margin: 10px 50px 0px 50px
}

.dashBoardCol {
    display: flex;
    justify-content: center;
}

.inputGroup {
    display: flex;
    width: 100%;
    justify-content: center;
}

.formControl {
    width: 70% !important;
    flex: 0 0 auto !important;
}

.dashBoardTable {
    width: 90%;
}

.input {
    display: flex;
    justify-content: flex-start;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.thOperations {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.editBtn:hover {
    color: #f0ad4e;
    cursor: pointer;
}

.deleteBtn:hover {
    color: #d9534f;
    cursor: pointer;
}

.notJobRow {
    height: 80vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.notJob {
    font-size: 2rem;
}

@media only screen and (max-width: 768px) {
    .userInfo {
        width: 90%;
        margin: 0 auto;
        color: white;
        display: flex;
        gap: 5px;
    }

    .notJobRow {
        height: 60vh;
    }

    .formControl {
        padding: 8px !important;
    }

    .notJob {
        font-size: 1.2rem;
    }

    .userInfoBadge {
        font-size: 0.9rem;
    }

    .userInfoText {
        width: 40%;
        justify-content: center;
        padding: auto;
    }
}

@media only screen and (max-width: 1280px) {
    .main {
        display: flex;
        flex-direction: column-reverse;
    }
    

    .dashBoardRow {
        margin: 10px 0px 0px 0px
    }

    .userInput {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 20px 0px 20px 0px;
    }

    .dashBoardTable {
        overflow-x: auto;
        width: auto
    }

    .input {
        justify-content: center;
    }

    .button {
        justify-content: center;
    }
};
